/* The errors displayed below the device information */
.faultReporting {
	color: #FF0000;
	font-weight: bold;
	font-size: smaller;
	display: block;
	line-height: .5;
	margin-bottom: 15pt;
}
/* The device container (covering deviceLabel, suffix, deviceActualTemperature, deviceSetTemperature */
.deviceContainer {
	color: #fff;
	display: block;
}
/* The current mode in brackets, i.e.: (heizt mit 27%)*/
.deviceMode{
	color: #BDBDBD;
	font-size: smaller;
}
.deviceLabel {
	/*put your styles here*/
}
.deviceActualTemperature{
	/*put your styles here*/
}
.deviceSetTemperature{
	/*put your styles here*/	
}